

/*---------------------------------------------------------------------
    File Name: style.css
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    import Fonts
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');
/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*****----------------------------------------
     1) font-family: 'Rajdhani', sans-serif;  
     2) font-family: 'Poppins', sans-serif; 
----------------------------------------*****/


/*---------------------------------------------------------------------
    import Files
---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*---------------------------------------------------------------------
    skeleton
---------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../images/IMG-20220202-WA0183.jpg');
    background-size: cover;
    color: #666666;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}


.full {
    float: left;
    width: 100%;
}

.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #363D4D;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}


/*---------------------------------------------------------------------
    layout new css 
---------------------------------------------------------------------*/


.right_header_info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.right_header_info ul li {
    display: inline;
    font-size: 18px;
    margin-left: 20px;
}

.menu_iconb {
    background-image: linear-gradient(to bottom, #303845,#3C4557, #363D4D);
    padding: 9px 38px;
    border-radius: 20px;
    margin-right: 30px;
}

.menu_iconb a{
    color: rgb(255, 255, 255);
}


.header {
    background: transparent;
    padding: 35px 0px;
    position: absolute;
    z-index: 99;
    width: 100%;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}

.slider_section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.banner_main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner_main h4 {
color: transparent;
/*background-image: linear-gradient(to bottom, #3C4557, #303845,#363D4D);
-webkit-background-clip: text;*/
color: #4375D9;
font-size: 110px;
margin:  0;
padding: 200px;
text-align: center;
}


.text-bg {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -56px;
}

.titlepage {
    padding-bottom: 60px;
}

.titlepage h2 {
    font-weight: bold;
    color: #f8eca6;
    line-height: 66px;
    font-size: 60px;
    text-align: center;
    background-image: linear-gradient(to bottom, #bc883d, #f5e47b, #bc883d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}

.titlepage span {
    border: #f0e7b5 solid 1px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#icono{
    max-width: 50%;
}

/*---------------------------------------------------------------------
    skeleton
---------------------------------------------------------------------*/
.emballage{
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo_login {
    width: 120px;
    margin: auto;
}

.logo_login img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.emballage .name {
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.emballage .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.emballage .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.emballage .form-field .fas {
    color: #555;
}

.emballage .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.emballage .btn:hover {
    background-color: #039BE5;
}

.emballage a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.emballage a:hover {
    color: #039BE5;
}
h3,h4{
    text-align: center;
    padding: 100px;
}
@media(max-width: 380px) {
    .emballage {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}